<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_feature.name %>
</p>

<%= link_to 'Edit', edit_admin_feature_path(@admin_feature) %> |
<%= link_to 'Back', admin_features_path %>
